<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MÈME ory</title>
  
    <!-- link to score controller -->
    <script src="../../scripts/utils.js"></script>
    <script src="./score.component.js"></script>
  </head>

  <body>
    <section class="overflow-auto flex-grow-1 d-flex flex-column">
      <div class="container-fluid flex-grow-1">
        <!-- TODO #shell: keep this element -->
        <main class="score-cmp">
          <div class="d-flex p-3">
            <div class="flex-grow-1">
              <h3 class="congrats">hehe trop simple<br /><span id="name"></span></h3>
            </div>
            <div>
              <!-- TODO #component-images: change image location to './assets/happy_homer.jpg' -->
              <img src="./assets/happy_homer.jpg" class="happy" />
              <p class="size"><span id="size"></span> pairs</p>
              <p class="time"><span id="time"></span>s</p>
            </div>
          </div>
        </main>
      </div>
    </section>
    <script>
      new ScoreComponent().init();
    </script>
  </body>
</html>
